<div
  style="
    background-color: rgb(229, 229, 229);
    height: 94.5%;
    padding-bottom: 2.5rem;
  "
>
  <mat-toolbar
    class="navbar"
    color="primary"
    style="background-color: rgb(50, 89, 152); padding: 1.5rem 6rem"
  >
    <img src="../../../assets/recrutory.png" alt="RECRUTORY" class="logo" />

    <h1>Candidate Details</h1>
    <button disabled mat-raised-button>ADD Candidate</button>
    <!-- <button mat-raised-button (click)="openAddEditEmpForm()">
          ADD Customer
        </button> -->
  </mat-toolbar>

  <div class="main-body">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="srno">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            SrNo
          </th>
          <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="timestamp">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Date
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.timestamp }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Name
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.name }}
          </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="contactno">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Number
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.contactno }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Email
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.email }}
          </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Location
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.location }}
          </td>
        </ng-container>

        <ng-container matColumnDef="companyName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Company Name
          </th>
          <td mat-cell *matCellDef="let row">{{ row.companyName }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="content2">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Para 2 </th>
              <td mat-cell *matCellDef="let row" > {{row.content2}}</td>
            </ng-container> -->

        <ng-container matColumnDef="currRole">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Current Role
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.currRole }}
          </td>
        </ng-container>

        <ng-container matColumnDef="langKnow">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Languages
          </th>
          <td mat-cell *matCellDef="let row">{{ row.langKnow }}</td>
        </ng-container>

        <ng-container matColumnDef="langQuali">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Language Qualification
          </th>
          <td mat-cell *matCellDef="let row">{{ row.langQuali }}</td>
        </ng-container>

        <ng-container matColumnDef="otherlangQuali">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Other Qualifications
          </th>
          <td mat-cell *matCellDef="let row">{{ row.otherlangQuali }}</td>
        </ng-container>

        <ng-container matColumnDef="proficiency">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Proficiency
          </th>
          <td mat-cell *matCellDef="let row">{{ row.proficiency }}</td>
        </ng-container>

        <ng-container matColumnDef="formalAssesment">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Taken any Formal Assesment?
          </th>
          <td mat-cell *matCellDef="let row">{{ row.formalAssesment }}</td>
        </ng-container>

        <ng-container matColumnDef="otherPlatform">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="min-width: 400px; background-color: rgb(50, 89, 152)"
          >
            If there is another platform, please mention
          </th>
          <td mat-cell *matCellDef="let row">{{ row.otherPlatform }}</td>
        </ng-container>

        <ng-container matColumnDef="ProficiencyResult">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="min-width: 500px; background-color: rgb(50, 89, 152)"
          >
            Score and Proficiency Result of Formal Assesssment
          </th>
          <td mat-cell *matCellDef="let row">{{ row.ProficiencyResult }}</td>
        </ng-container>

        <ng-container matColumnDef="dialects">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Familiar with different dialects or regional variations?
          </th>
          <td mat-cell *matCellDef="let row">{{ row.dialects }}</td>
        </ng-container>

        <ng-container matColumnDef="supdatedLanguage">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="min-width: 500px; background-color: rgb(50, 89, 152)"
          >
            How do you stay updated with language changes and developments?
          </th>
          <td mat-cell *matCellDef="let row" style="width: 500px">
            {{ row.supdatedLanguage }}
          </td>
        </ng-container>

        <ng-container matColumnDef="sWorkshop">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Participate in Language courses, Workshops or seminars?
          </th>
          <td mat-cell *matCellDef="let row">{{ row.sWorkshop }}</td>
        </ng-container>

        <ng-container matColumnDef="sLangCommunity">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Part of any Language Communities or Forums
          </th>
          <td mat-cell *matCellDef="let row">{{ row.sLangCommunity }}</td>
        </ng-container>

        <ng-container matColumnDef="sLiterature">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="min-width: 400px; background-color: rgb(50, 89, 152)"
          >
            Do you regularly read literature or watch Media in Languages you
            speak
          </th>
          <td mat-cell *matCellDef="let row">{{ row.sLiterature }}</td>
        </ng-container>

        <ng-container matColumnDef="sLangIntoWork">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="min-width: 600px; background-color: rgb(50, 89, 152)"
          >
            How do you incorporate newly learned language skills into your work?
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.sLangIntoWork }}
          </td>
        </ng-container>

        <ng-container matColumnDef="sMethodLang">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="min-width: 600px; background-color: rgb(50, 89, 152)"
          >
            What are your methods of staying updated with language changes and
            developments?
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.sMethodLang }}
          </td>
        </ng-container>

        <ng-container matColumnDef="sgramm">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Can you explain complex grammatical concepts?
          </th>
          <td mat-cell *matCellDef="let row">{{ row.sgramm }}</td>
        </ng-container>

        <ng-container matColumnDef="tTools">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="min-width: 400px; background-color: rgb(50, 89, 152)"
          >
            Tools or resources you use for translation or language related
            tasks?
          </th>
          <td mat-cell *matCellDef="let row">{{ row.tTools }}</td>
        </ng-container>

        <ng-container matColumnDef="totherTools">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            If in case you use other tools
          </th>
          <td mat-cell *matCellDef="let row">{{ row.tTtotherToolsools }}</td>
        </ng-container>

        <ng-container matColumnDef="tTranslation">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="min-width: 400px; background-color: rgb(50, 89, 152)"
          >
            Proficient in using translation software or platforms?
          </th>
          <td mat-cell *matCellDef="let row">{{ row.tTranslation }}</td>
        </ng-container>

        <ng-container matColumnDef="tdictionaries">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="min-width: 400px; background-color: rgb(50, 89, 152)"
          >
            Do you have experience with online dictionaries or language
            databases?
          </th>
          <td mat-cell *matCellDef="let row">{{ row.tdictionaries }}</td>
        </ng-container>

        <ng-container matColumnDef="tdevelopedTool">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="min-width: 400px; background-color: rgb(50, 89, 152)"
          >
            Have you developed any custom tools or workflows for language
            related tasks?l
          </th>
          <td mat-cell *matCellDef="let row">{{ row.tdevelopedTool }}</td>
        </ng-container>

        <ng-container matColumnDef="tgeneOutput">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            How often do you require to use a language tool to generate output?
          </th>
          <td mat-cell *matCellDef="let row">{{ row.tgeneOutput }}</td>
        </ng-container>

        <ng-container matColumnDef="fproficient">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="min-width: 400px; background-color: rgb(50, 89, 152)"
          >
            Proficient in Voice, Non-voice, Legal, Medical, Technical or
            Literary translation?
          </th>
          <td mat-cell *matCellDef="let row">{{ row.fproficient }}</td>
        </ng-container>

        <ng-container matColumnDef="fFormalTrainer">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Received any formal training or certifications?
          </th>
          <td mat-cell *matCellDef="let row">{{ row.fFormalTrainer }}</td>
        </ng-container>

        <ng-container matColumnDef="fworkExample">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="background-color: rgb(50, 89, 152)"
          >
            Examples of your work in specialized areas?
          </th>
          <td mat-cell *matCellDef="let row">{{ row.fworkExample }}</td>
        </ng-container>

        <ng-container matColumnDef="fiInterpretation">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="min-width: 400px; background-color: rgb(50, 89, 152)"
          >
            Can you translate and converse with a native speaker to showcase
            language proficiency.
          </th>
          <td mat-cell *matCellDef="let row">{{ row.fiInterpretation }}</td>
        </ng-container>

        <ng-container matColumnDef="fichallenges">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="min-width: 600px; background-color: rgb(50, 89, 152)"
          >
            How do you handle challenges or nuances in real-time conversations?
          </th>
          <td mat-cell *matCellDef="let row">{{ row.fichallenges }}</td>
        </ng-container>

        <ng-container matColumnDef="fiLanguageSkills">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="min-width: 400px; background-color: rgb(50, 89, 152)"
          >
            Can you adapt your language skills to various contexts and
            audiences?
          </th>
          <td mat-cell *matCellDef="let row">{{ row.fiLanguageSkills }}</td>
        </ng-container>

        <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: rgb(50, 89, 152)"> Remarks </th>
          <td mat-cell *matCellDef="let row"> {{row.remarks}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: rgb(50, 89, 152)"> Action </th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="openEditRemarks(row._id)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


<ng-template #callAPIDialog>
  <div class="remark-dialog">
      <div mat-dialog-title style="text-align: center;">
          <h2>Remarks</h2>
      </div>
      <div mat-dialog-content class="content-dialog">
          <form [formGroup]="remarkForm" (ngSubmit)="submitRemark()" id="remarkForm">
              <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label appearance="outline">Remarks </mat-label>
                  <textarea rows="2" matInput placeholder="Content goes here...."
                      formControlName="remarks"></textarea>
              </mat-form-field>
          </form>
          <mat-dialog-actions  style="justify-content: center;">
              <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
              <button mat-raised-button color="primary" type="submit" form="remarkForm">Update</button>
          </mat-dialog-actions>
      </div>
      
  </div>
</ng-template>