.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.example-spacer {
    flex: 1 1 auto;
  }
  
  .main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1348px;
    mat-form-field {
      width: 100%;
    }
  }
  
  .action {
    display: flex;
    gap: 5px;
  }
  
  .logo{
    height: 2.5rem;
    margin-right: 2rem;
    width: auto;
  }

  .limited-lines {
    max-height: auto; /* Adjust this value as needed to fit two lines */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 9; /* Number of lines to show */
    -webkit-box-orient: vertical;
  }