










<div style="background-color: rgb(229, 229, 229); height: 94.5%; padding-bottom: 2.5rem;">
    <mat-toolbar class="navbar" color="primary"  style="background-color: rgb(50, 89, 152); padding: 1.5rem 6rem;" >
        <img src="../../../assets/recrutory.png" alt="RECRUTORY" class="logo">
       
     
      </mat-toolbar>








  <div class="dashboard">
    <a href="recrutory/candidate">
      <button mat-raised-button>CANDIDATE</button>
    </a>
    <a href="recrutory/company">
      <button mat-raised-button>COMPANY</button>
    </a>
    <a href="recrutory/blogs">
      <button mat-raised-button>BLOGS</button>
    </a>
  </div>
</div>
